<!DOCTYPE html>
<html>
<head>
    <title>Shady Oaks Golf Course</title>
</head>
<body>
    <h1>Hello and Welcome to Shady Oaks!</h1>
    <h2>Events</h2>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'membership' %}">Membership</a></li>
    <li><a href="{% url 'scheduling' %}">Scheduling</a></li>
    <li><a href="{% url 'events' %}">Events</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>

    <p>Welcome to the Shady Oaks events page.</p>
</body>
</html>